@model Order
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>Thank you for your order. Here is your order confirmation:</h1>
    <partial name="_ShippingInfoPartial" model="Model" />
    <br />
    <h3>Details of your order: # @Model.OrderId</h3>
    <partial name="_OrderDetailsPartial" model="Model.OrderDetails" />
    
</body>
</html>
