@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (TempData["ErrorTitle"] == null)
{

    <h3 class="text-danger">Error.</h3>
    <h6 class="text-danger">An error occurred while processing your request.</h6>
}
else
{
    <h3 class="text-danger">@TempData["ErrorTitle"]</h3>
    <h6 class="text-danger">@TempData["ErrorMessage"]</h6>
    <hr />
}





@*@if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }*@

