@page
@model OnlineStore.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["ShowButtons"] = true;
}


<style>
    .btn {
        width: 75px;
    }
</style>

<h1>Products</h1>
<!--use get request for search-->
<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Search
            </button>
        </div>
    </div>
</form>

<div class="card-deck">
    @foreach (var product in Model.Products)
    {
        <partial name="_DisplayProductPartial" model="product" view-data="ViewData" />
    }

</div>
