@page
@model OnlineStore.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h1>Reset Password Confirmation</h1>
<h4>
    Your password has been reset successfully. Please return to login.
    <a class="btn btn-primary" asp-page="/Account/Login">Return to Login</a>
</h4>
